<?xml version="1.0" ?>
<robot name="Vattsan" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--xacro:include filename="$(find arm)/urdf/materials.xacro" />
<xacro:include filename="$(find arm)/urdf/Vattsan.trans" />
<xacro:include filename="$(find arm)/urdf/Vattsan.gazebo" /-->

<link name="base_footprint"/>

<link name="base_link">
  <inertial>
    <origin xyz="0.0003347701550377962 0.0002467868808562595 0.016426104833341764" rpy="0 0 0"/>
    <mass value="0.22306073060929593"/>
    <inertia ixx="4.1e-05" iyy="4.2e-05" izz="3.3e-05" ixy="-0.0" iyz="-1e-06" ixz="-3e-06"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arm/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arm/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link_1_1">
  <inertial>
    <origin xyz="0.014335399579242975 0.0019995312441046563 0.01003709414126474" rpy="0 0 0"/>
    <mass value="0.013456150233067987"/>
    <inertia ixx="1e-06" iyy="2e-06" izz="1e-06" ixy="-0.0" iyz="-0.0" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.015762 -0.006955 -0.054099" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arm/meshes/link_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </visual>
  <collision>
    <origin xyz="-0.015762 -0.006955 -0.054099" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arm/meshes/link_1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="link_2_1">
  <inertial>
    <origin xyz="0.01749956035430031 -0.0020004687558953117 -3.1822259197178404e-07" rpy="0 0 0"/>
    <mass value="0.013456150233067987"/>
    <inertia ixx="0.0" iyy="2e-06" izz="2e-06" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.044433 -0.006955 -0.074174" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arm/meshes/link_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </visual>
  <collision>
    <origin xyz="-0.044433 -0.006955 -0.074174" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://arm/meshes/link_2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid 1" type="fixed">
  <origin xyz="0.015762 0.006955 0.054099" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="link_1_1"/>
</joint>

<joint name="Rigid 2" type="fixed">
  <origin xyz="0.028671 0.0 0.020075" rpy="0 0 0"/>
  <parent link="link_1_1"/>
  <child link="link_2_1"/>
</joint>

  <joint name="base" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.1" rpy="0 0 0" />
    <axis xyz="0.0 0.0 1.0" />
  </joint>

</robot>
